:root {
  /* fs */

  --fs-xsm: 5px;

  --fs-sm: 8px;

  --fs-md: 10px;

  --fs-lg: 14px;

  --fs-xl: 16px;

  --fs-2xl: 24px;

  --fs-4xl: 40px;

  --fs-5xl: 55px;

  /* color */

  --text-black: #000000;

  --text-green: #1ad079;

  --text-light-brown: #4d4d4d;

  --text-light-black: #030403;

  --text-darkgrey: #4b4c4c;

  --text-light-green: #bafa07;

  --text-grey: #b5b8c4;

  --text-grey2: #b8bcc7;

  --text-darkgreen: #149766;

  --text-blue-lightGrey: #b0b4c6;
  --text-blue-light: #d4eaf2;

  /* bg */

  --bg-lightWhite: #fefefe;

  --bg-green: #18d079;

  --bg-darkblue: #07133b;
}

.fs_xsm {
  font-size: var(--fs-xsm);
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_lg {
  font-size: var(--fs-lg);
}
.fs_xl {
  font-size: var(--fs-xl);
}

.fs_2xl {
  font-size: var(--fs-2xl);
}

.fs_4xl {
  font-size: var(--fs-4xl);
}

.fs_5xl {
  font-size: var(--fs-5xl);
}

.text_black {
  color: var(--text-black);
}

.text_green {
  color: var(--text-green);
}

.text_LIGHTgreen {
  color: var(--text-light-green);
}

.text_LIGHTblue {
  background-color: var(--text-blue-light);
}

.text_darkgreen {
  color: var(--text-darkgreen);
}

.text_lightBlack {
  color: var(--text-light-black);
}

.text_lightbrown {
  color: var(--text-light-brown);
}

.text_blueGrey {
  color: var(--text-blue-lightGrey);
}

.text_grey {
  color: var(--text-grey);
}

.text_greyLight {
  color: var(--text-grey2);
}

.text_darkgrey {
  color: var(--text-darkgrey);
}

/* bg */

.bg_DarkBlue {
  background-color: var(--bg-darkblue);
}

.bg_green {
  background-color: var(--bg-green);
}

.bg_Lightwhite {
  background-color: var(--bg-lightWhite);
}

.ff_Segoe {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
@media (max-width: 576px) {
  :root {
    --fs-xsm: 5px;
    --fs-sm: 8px;
    --fs-md: 10px;
    --fs-lg: 14px;
    --fs-xl: 12px;
    --fs-2xl: 24px;
    --fs-4xl: 40px;
    --fs-5xl: 27px;
  }
}
@media (min-width: 576px) {
  :root {
    --fs-xsm: 5px;

    --fs-sm: 8px;

    --fs-md: 10px;

    --fs-lg: 12px;

    --fs-xl: 16px;

    --fs-2xl: 24px;

    --fs-4xl: 40px;

    --fs-5xl: 49px;
  }
}
@media (min-width: 768px) {
  :root {
    --fs-xsm: 5px;

    --fs-sm: 8px;

    --fs-md: 10px;

    --fs-lg: 14px;

    --fs-xl: 10px;

    --fs-2xl: 24px;

    --fs-4xl: 40px;

    --fs-5xl: 55px;
  }
}
@media (min-width: 992px) {
  :root {
    --fs-xsm: 5px;

    --fs-sm: 8px;

    --fs-md: 10px;

    --fs-lg: 14px;

    --fs-xl: 16px;

    --fs-2xl: 24px;

    --fs-4xl: 40px;

    --fs-5xl: 55px;
  }
}
